<h1>MeBay Categories of Auctions</h1>

<ul>
  {{#each category in model}}
    <li>{{#link-to 'category' category}}{{category.title}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#link-to 'new-category' classNames="btn btn-primary"}}New auction category{{/link-to}}
